


@media screen and (max-width:576px){

  .navber-links{
    display: none;
  }
  .fa-bars{
    display: block;
  }

  /* .banner */
  .banner{
    flex-direction: column;
    gap:1.5625rem;
  }
  .banner-title h1{
    font-size:36px;
  }
  .banner-images img{
    width:100%;
  }
  /* .fetured-bikes-img */
  .fetured-bikes-img{
    flex-direction: column;
    gap:20px;
  }
  /* .latest-news-card-all */
  .latest-news-card-all{
    flex-direction: column;
    gap:1.5625rem;
  }
  /* clients-card */
  .clients-card{
    flex-direction: column;
  }

/* footer section */
/* .footer-container */
.footer-container,
.footer-title div ul{
  flex-direction:column;
  }
.footer-title div ul{
  gap:10px;
  }

}