 /* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

:root{
  --bg-black-color:rgb(11,13,23);
  --bg-blue-teal-color:rgb(38,70,83);
  --btn-bg-red-orange-color:rgb(231,111,81);
  --btn-text-red-orange-color:rgb(231,111,81);
  --text-white-color:#fff;
  --text-light-white-color:rgb(224,224,244);
  --text-black-color:rgb(0,0,0);
  --text-grey-color:rgb(10, 8, 38);
  --text-grey-900-color:rgb(24, 25, 31);
  --text-dark-color:rgb(108, 108, 108);
}

/* Shared style  */

.p-text{
  font-size:1rem;
  font-weight:400;
  color:var(--text-light-white-color);

}
.text-align-left{
  text-align: left;
}
.text-align-center{
  text-align: center;
}
.display-flex{
  display:flex;

}
.btn-one{
  padding:10px 24px;
  background-color: var(--btn-bg-red-orange-color);
  font-family: poppins;
  font-size:18px;
  font-weight:500;
  color:var(--text-white-color);
  border-radius:5px;
  border:none;
}
.btn-two{
  padding:10px 24px;
  font-size:18px;
  font-weight: 500;
  font-family: poppins;
  color: var(--btn-text-red-orange-color);
  border-radius: 5px;
  border:1px solid red;
}
a{
  text-decoration:none;
}


/* header style */
header{
  background-color: var(--bg-blue-teal-color);
}
.section-container{
    /* width: calc(100%-312px); */
    width:78.33%;
    margin:0 auto;
}

/* navber */
.navber{
  justify-content: end;
  align-items: center;
  gap:100px;
  padding-top:14px;
}
.navber-links{
  justify-content: center;
  align-items:center;
  gap:36px;
}

.navber-links li{
  list-style: none;
}
.navber-links li a{
  color:var(--text-white-color);
  cursor: pointer;

}
.fa-bars{
  display: none;
}
/* banner style */
.banner{
  justify-content:space-between;
  align-items: center;
  margin-top:4.3125rem;

}

.banner-title-p{
  font-size:14px;
  font-weight:400;
  font-family: poppins;
  color:var(--text-light-white-color);
  
}
.banner-title h1{
  font-family: poppins,serif;
  font-size:3rem;
  font-weight: 600;
  padding:1.125rem 0;
  color:var(--text-white-color);
}
.banner-title :nth-child(3){
margin-bottom:1.9375rem;

}

/* Fetured Bikes In This Year */
.fetured-container{
  width: 78.33%;
  margin: 0 auto;
}

/* fetured-title */
.fetured-title{
  margin:20px 0;
}
.fetured-title h2{
  color:var(--text-black-color);
  font-family: poppins,serif;
  font-size:3rem;
  font-weight:600;
}
.fetured-title >p{
  font-size: 14px;
  font-weight:600;
  color:var(--btn-text-red-orange-color);
  font-family: poppins,serif;
}
/* .fetured-bikes-img */
.fetured-bikes-img{
  justify-content:space-between;
  align-items: center;
}

.fetured-bikes-img div img{
  width:100%;
}

/* latest-news */
.latest-news-section{
  padding:20px 0;
}
.latest-news-container{
  width:78.33%;
  margin:0 auto;
}
.news-title> h2{
  font-size:3rem;
  font-weight:600px;
  font-family:poppins,sans-serif;
  color:var(--text-grey-color);
  margin:10px 0px;
}

/* latest-news-card-all */
.latest-news-card-all{
justify-content:space-between;
align-items:center;
gap:10px;
}
.card{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
   rgba(0, 0, 0, 0.23) 0px 3px 6px;
   padding:20px;
   border-radius: 8px;
}
.card>img{
  width: 100%;
}
.card h3{
  color:var(--text-grey-900-color);
  font-family:poppins,sans-serif;
  font-size:1.75rem;
  font-weight: 600;

}
.card > p{
  margin-top:10px;
  margin-bottom:40px;
  color:var(--text-dark-color);
}

/* Happy Clients says */
.happy-clients-section{
  margin:60px 0px;
}
.happy-clients-container{
  width: 78.33%;
  margin:0 auto;
}

.clients-card{
  /* place-content: center; */
  /* place-items: center; */
  justify-content: space-between;
  align-items: center;
  gap:20px;
  margin-top: 3.25rem;

}
.happy-card{
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
   rgba(0, 0, 0, 0.23) 0px 3px 6px;
   padding:20px;
   border-radius:8px;
  
}
.happy-card >img{
  width: 50%;
}